@{
    ViewData["Title"] = "Google Data Sources";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Google Data Sources</h2>
    <div class="row justify-content-center">
        <div class="col-md-4">
            <a  asp-controller="dashboard" asp-action="GoogleRabitaBank" class="card shadow-lg text-decoration-none">
                <div class="card-body text-center">
                    <h3 class="card-title">Rabitəbank</h3>
                    <p class="text-muted">Google rəyləri və şərhləri</p>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a  asp-controller="dashboard" asp-action="GoogleRabitaBankCorporativ" class="card shadow-lg text-decoration-none">
                <div class="card-body text-center">
                    <h3 class="card-title">Rabitə Bank Corporativ</h3>
                    <p class="text-muted">Google rəyləri və şərhləri</p>
                </div>
            </a>
        </div>
    </div>
</div>
